/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.homeContainer {
  margin: 0 100px;
}

.heroTitle {
  color: var(--ifm-font-color-base-inverse);
}

.footer--dark {
  --ifm-footer-background-color: rgb(81,30,135);
}

.heroBanner {
  padding: 4rem 0;
  text-align: start;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin-bottom: 1rem;
}
